body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.46429;
    padding-top: 0;
    color: $body-color;
    background-color: $body-background;
}

/** heading */
h1, h2, h3, h4, h5, h6
{
    color: $heading-color;
}
h2
{
    line-height: 1;
    font-size: 36px;
}
h6
{
    font-size: 18px;
    line-height: 1.5;
}

/** anchor */
a
{
    transition: .3s;
    font-weight: 600;
    color: $link-color;
    &:hover, &:focus, &:active
    {
        color: $link-hover;
        text-decoration: none;
        outline: none;
    }
}


@media(max-width: 767px)
{
    body
    {
        padding: 0;
    }
    h2
    {
        line-height: 1;
        font-size: 20px;
    }
    h3
    {
        font-size: 18px;
    }
}