#footer 
{
    color: $footer-color;
    h4
    {
        color: $footer-color;
    }
    img
    {
        height: auto !important;
        width: auto !important;
    }
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul li
    {
        padding: 5px 0;
    }
    .footer-main
    {
        padding: 80px 10px;
        background: $footer-main-background;
    }
    .footer-foot
    {
        padding: 30px 0;
        background: $footer-foot-background;
    }
}

@media(max-width: 767px)
{
    #footer 
    {
        .row-fluid div
        {
            margin-bottom: 30px;
        }
        .footer-main
        {
            padding: 30px 10px 0;
        }
        .footer-foot
        {
            padding: 10px 10px;
        }
    }
}
