/** @type {button} */
button, input[type="button"], input[type="submit"], input[type="reset"], .button 
{
    color: #fff;
    background-color: #9bb7dd;
    border-color: #9bb7dd;
}

button:hover, button:focus,
input[type="button"]:hover,input[type="focus"]:hover,
input[type="submit"]:hover,input[type="submit"]:hover,
input[type="reset"]:hover,input[type="reset"]:hover,
.button:hover, .button:focus
{
    color: #fff;
    background-color: #3d4f69;
}
.button-secondary {
    color: #fff;
    background-color: #fec218;
    border-color: #fec218;
}
.button-secondary:hover, .button-secondary:focus
{
    background-color: #9bb7dd;
    border-color: #9bb7dd;
}



/** @type {button} */
button, input[type="button"], input[type="submit"], input[type="reset"], .button 
{
    display: inline-block;
    position: relative;
    padding: 10px 26px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.04em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
    background-image: none;
}
button:hover, button:focus,
input[type="button"]:hover,input[type="focus"]:hover,
input[type="submit"]:hover,input[type="submit"]:hover,
input[type="reset"]:hover,input[type="reset"]:hover,
.button:hover, .button:focus
{
    text-shadow: none;
    text-decoration: none;
}

.button-md {
    padding: 10px 42px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
}


textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    @include box-shadow(none);
    @include border-radius(0);
}