/** swiper */
.swiper-container 
{
    width: 100%;
    height: 100%;
    .swiper-slide 
    {
        background-position: center;
        background-size: cover;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(47,62,83,0.5);
        }
        h2
        {
            color: #fff;
            font-size: 60px;
        }
    }
    .swipe-box
    {
        text-align: center;
        width: 50%;
        height: 400px;
        margin: 10% auto 0;
        position: relative;
        color: #fff;
        p
        {
            font-size: 18px;
            line-height: 1.5;
        }
    }
    .preview
    {
        background-size: cover;
        background-position: center;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 40%;
        z-index: 5;
    }
    .next
    {
        transition: .3s;
        right: 10px;
    }
    .swiper-row
    {
        &:hover 
        {
            .next { right: 40px; }
            .prev { left: 40px; }
            .swiper-btn { color: #000; background-color: #fff; }
        }
    }
    .prev
    {
        transition: .3s;
        left: 10px;
    }
    .swiper-btn
    {
        height: 150px;
        background: none;
        color: #fff;
        top: 40%;
        margin-top: 0;
        padding-left: 5px;
        span
        {
            font-size: 40px;
            line-height: 150px;
        }
    }
}

/** custom-site-expo */
.custom-site-expo
{
    padding: 80px;
}

/** custom-courses-list */
.custom-courses-list
{
    background-color: #F4F4F4;
    padding: 80px;
    text-align: center;
    .titlebar 
    {
        margin-bottom: 20px;
    }
}

#page-content
{
    margin: 30px 0;
    h2
    {
        text-align: center;
    }
    #site-news-forum 
    {
        text-align: center;
        margin: 30px 0;
        background: #FEC218;
        padding: 60px 0;
    }
    #site-news-forum  h2
    {
        color: #fff;
    }
    #frontpage-course-list,
    #frontpage-category-combo
    {
        background: #fff;
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto
    }
}

#page-header
{
    display: none;
}
@media (min-width: 768px) 
{
    .swiper-container .swiper-pagination
    {
        display: none;
    }
}

@media(max-width: 767px)
{
    .swiper-container 
    {
        .button-md
        {
            padding: 5px 20px;
        }
        .preview
        {
            display: none;
        }
        .swiper-slide h2
        {
            font-size: 20px;
        }
        .swipe-box
        {
            width: 85%;
            margin-top: 20px;
            height: 250px;
            p
            {
                font-size: 12px;
            }
        }
        .swiper-row
        {
            display: none;
        }
    }
    .custom-site-expo
    {
        padding: 10px 20px;
    }
    .custom-courses-list
    {
        padding: 10px 20px;
    }
    .promoted-courses
    {
        .swiper-wrapper
        {
            overflow-x: scroll;
        }
        .swiper-slide
        {
            width: 100px !important;
            img
            {
                width: 80px;
            }
            .info
            {
                a
                {
                    font-size: 15px;
                }
            }
        }
    }
}