.container-fluid {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto
}

.block, .course_category_tree .category > .info
{
    @include border-radius(0);
    @include box-shadow(0 0 3px #CCC);
    background: #FEFEFE;
    border: none;
    padding: 20px 5px;
}

.courses .coursebox.collapsed
{
    border: none;
}