#header 
{
    background: $header-background;
    .header-logo
    {
        float: left;
        padding: 10px;
        .brand-slogan
        {
            padding-left: 26px;
        }
        a
        {
            color: $header-logo-color;
            &:hover
            {
                text-decoration: none;
            }
        }
    }
    .custom-menu
    {
        width: 400px;
        margin: 0 auto;
        padding-left: 160px;
        ul
        {
            padding: 0;
            margin: 0 -8px;
            list-style: none;
            li
            {
                margin: 20px 0;
                padding: 0 8px;
                display: block;
                float: left;
                a
                {
                    color: $header-link-color;
                    border-bottom: 1px solid transparent;
                    transition: .3s;   
                    .active, &:hover, &:focus
                    {
                        color: $header-link-hover;
                        background: transparent;
                        border-bottom: 1px solid $header-link-hover;
                    }
                }
            }
        }
    }
}

/** breadcrumb */
.breadcrumb-nav
{
    margin-bottom: 0;
    .breadcrumb
    {
        background: none;
        margin: 15px 0 0;
        padding: 0;
    }
    .breadcrumb > li
    {
        text-shadow: none;
    }
}

/** page-header */
#page-header
{
    padding: 15px 0 0;
    margin-bottom: 30px;
    background: $page-header-background;
}

.userbutton
{
    display: inline-block;
    color: #FFFFFF;
    margin-top: 10px;
    .avatars
    {
        img
        {
            width: 20px !important;
            height: 20px !important;
            @include border-radius(50%);
            background: #FFFFFF;
            padding: 5px;
        }
    }
}

.jsenabled .usermenu 
{
    .moodle-actionmenu.show > .menubar
    {
        background-color: $header-background;
    }
    .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret,
    .moodle-actionmenu .toggle-display .caret {
        border-top: 6px solid #FFF;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        margin-top: 20px;
        margin-left: -5px;
        border-top-color: #FFF;
    }
}

@media(max-width: 767px)
{
    #header 
    {
        .header-logo
        {
            img
            {
                width: 100px;
            }
            .brand-slogan
            {
                font-size: 10px;
                padding-left: 19px;
            }
        }
        .custom-menu
        {
            padding-left: 120px;
        }
    }
}