.loginbox
{
    width: 400px;
    margin: 50px auto 80px;
    h3
    {
        text-align: center;
    }
    #login1
    {
        padding: 10px 0;
        margin: 5px 0 20px;
        border-bottom: 1px solid $heading-color;
        input[type="text"], input[type="password"]
        {
            font-size: 20px;
            line-height: 28px;
            height: 35px;
            width: 377px;
            padding: 5px 10px;
        }
        .checkbox input
        {
            margin-top: 4px;
        }
        .form-action
        {
            input[type="submit"]
            {
                @extend .button-secondary;
            }
        }
    }
    #forgot
    {
        margin-top: 10px;
        text-align: center;
    }
    input[type="submit"]
    {
        width: 100%;
        margin: 0;
    }
}

@media(max-width: 767px)
{
    .loginbox
    {
        width: 90%;
        margin: 10px auto 30px;
        #login1
        {
            input[type="text"], input[type="password"]
            {
                font-size: 18px;
                line-height: 22px;
                height: 28px;
                padding: 3px 5px;
                width: 95%;
            }
        }
    }

}