$body-color 			: #9A9A9A;
$body-background 		: #FFFFFF;


$heading-color			: #3D4F69;


$link-color 			: #9BB7DD;
$link-hover             : #FEC218;


$header-background		: #2F3E53;
$header-logo-color		: #9BB7DD;
$header-link-color		: #FEC218;
$header-link-hover		: #FFFFFF;

$page-header-background : #EAEBED;



$footer-color 			: #FFFFFF;
$footer-main-background : #3D4F69;
$footer-foot-background : #364861;